body {
    background-color: #FAF5F0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    width: 80ch;
    /* border: 1px solid black; */
    padding: 1rem;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

#toc {
    margin: 2rem 0;
}

#page-title {
    margin-top: 1rem;
}

.faded {
    color: #A3B1C3;
}

.tcum {
    color: #2862BF;
}

ul {
    padding: 0 1rem;
}

/* ul > li {
    display: flex;
} */

.file>button {
    background-color: transparent;
    border: solid #2862BF 1px;
    border-radius: 4pt;
}
.file>button:not([disabled]):hover {
    background-color: #2862BF;
    color: white;
}
.file>button:disabled {
    color: #A3B1C3;
    border-color: #A3B1C3;
}

.file>a {
    color: #2862BF;
    /* text-decoration: none; */
}

main > header {
    width: 100%;
    margin: 1em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center-baseline {
    align-items: baseline;
    display: flex;
    gap: 0.25rem;
    justify-content: center;
}

img.star-icon {
    height: 5rem;
}

img.sparkle-icon {
    height: 5rem;
}

img.sparkle-icon.small {
    height: 2.5rem;
}
img.sparkle-icon.flipped {
    transform: scaleX(-1);
}

embed {
    height: 36rem;
}

/* Tree view */

/* Remove default bullets */
ul {
    list-style-type: none;
}

/* Style the caret/arrow */
.caret {
    cursor: pointer;
    user-select: none; /* Prevent text selection */
}

/* Create the caret/arrow with a unicode, and style it */
.caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
    font-size: 0.7rem;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
    transform: rotate(90deg);
}

/* Hide the nested list */
.nested {
    display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
    display: block;
} 